//output:../_Default.html, doctype:strict

html(lang="en" xmlns:th="http://www.w3.org/1000/xhtml")
  head(th:replace="common/header :: common-header")
  body
    div(th:replace="common/header :: navbar")
      
    .container
      .raw
        
    div(th:replace="common/header :: body-bottom-scripts")
